


<div class="my-5">

<div class="search-form-control form-group d-flex">

    <%= form_tag pets_path, method: :get do %>
    <%= text_field_tag :species, params[:species],
    class: "form-control",
      placeholder: "Find by species" %>
    <%= text_field_tag :name, params[:name],
    class: "form-control",
      placeholder: "Find by name" %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="search-form-control form-group d-flex">
      <input class="form-control string required species" type="text" name="search[query]" id="search_query" placeholder="Pick species" />
<!--       <input class="form-control string required start-date" type="text" name="search[query]" id="search_query" placeholder="Start date" />
      <input class="form-control string required end-date" type="text" name="search[query]" id="search_query" placeholder="End date" />
 -->      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>

</div>

<div class="container">
  <div class="home-title text-center my-4">
    <h3> Some of our fabulous <strong>pets</strong></h3>
  </div>
  <div class="row">

    <div class="col-md-8">
      <div class="container mx-auto">
        <div class="homewrapper-by-two">

          <% @pets.each do |pet| %>

          <div class="card-trip" style="width:300px">
            <% if pet.photos.attached? %>
            <%= cl_image_tag pet.photos.first.key %>
            <% else %>
            <%= image_tag "pet-1.png" %>
            <% end  %>
            <div class="card-trip-infos">
              <div>
                <h2><%= pet.name.capitalize %></h2>
              </div>
              <h2 class="card-trip-review"><%= link_to 'Détails', pet_path(pet)%></h2>
            </div>
          </div>

          <% end  %>
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>

  </div>

</div>

</div>


