<div class="form-container">
  <h4 class="text-secondary">Share your passion :</h4>
  <h1>Lease your pet!</h1>
      <%= simple_form_for @pet do |f| %>
        <%= f.input :name, :label => "Name of your pet:" %>
        <%= f.input :description, :label => "Tell us a few words about your pet:"  %>
        <div class="d-flex">
          <div class="price-input mr-3">
            <%= f.input :price, :label => "Daily rent (€):" %>
          </div>
          <%= f.input :species, as: :radio_buttons, collection: ['cat', 'dog', 'monkey', 'rabbit'], wrapper: :vertical_collection_inline %>
        </div>
        <div class="d-flex">
          <%= f.input :photos, as: :file, input_html: { multiple: true }%>
        </div>
          <%= f.button :submit, "Add pet", class: "btn btn-flat mb-3 mr-sm-6 mt-2" %>
  <% end %>

</div>



