<div class="form-container">
  <h1>pets show</h1>

  <h2><%= @pet.name %></h2>
  <div>
    <img src="https://i.picsum.photos/id/237/200/300.jpg" alt="">
  </div>

  <% @pet.photos.each do |photo| %>
  <%= cl_image_tag photo.key %>
  <% end %>


  <% @pet.bookings.each do |booking| %>
  <hr>
  Booked from <%= booking.start_date %> until <%= booking.end_date %>
  <% end %>
  <%= link_to "Book this pet" %>

</div>

