
<div class="card-pet">
    <nav>
      <svg class="arrow" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 " stroke="#727272"/></svg>
      <%= link_to "Back to your dashboard", dashboard_path %>
    </nav>

  <div class="photo">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag @pet.photos.first.key, width: 250, height: 200 %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag @pet.photos.last.key, width: 250, height: 200 %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="description">
    <h2><%= @pet.name %></h2>
    <h4><%= @pet.species %></h4>
    <h1><%= @pet.price %>€</h1>
    <p><%= @pet.description %></p>
    <div class="bookings">
      <br>
      <h4><%= @pet.name %>'s bookings :</h4>
      <dl>
        <p>
          Too bad, i'm already booked 😔
        </p>
        <% @pet.bookings.each do |booking| %>
          <dd>
            ...from <%= booking.start_date.day %>/<%= booking.start_date.month %>/<%= booking.start_date.year %>
            until <%= booking.end_date.day %>/<%= booking.end_date.month %>/<%= booking.end_date.year %>
          </dd>
        <% end %>
      </dl>
      <p><%= link_to "Pick a date if you want to pet me",  new_pet_booking_path(@pet) %></p>
    </div>
  </div>

</div>

