
<div class="profilecontainer">
<div class="profilecolor">
  <div class="profilephoto">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "avatar-large" %>
    <% else %>
      <%=image_tag "dog.jpg", class: "avatar-large" %>
    <% end %>
  </div>
</div>

<div class="userinfo">
  <h2><%= @user.first_name %> <%=@user.last_name %></h2>
  <h5><%= @user.first_name %> has <%=  @user.pets.count%> pets:</h5>
  <ul class="userpetslist">
    <% @user.pets.each do |pet| %>
      <li><%= pet.name %> (<%= pet.species %>)</li>
    <% end %>
  </ul>

  <p><em>Top pet care ! </em></p>
  <p><em><%= @user.first_name %> is the coolest pet! </em></p>
  <p><i class="fas fa-star"></i><i class="far fa-star"></i> </p>

</div>



  </div>
</div>
