
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/3299901/pexels-photo-3299901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="banner-text">
    <div class="container relative">
      <div class="banner-title">
        <h1>Pet me !</h1>
        <p>
          <span id="banner-typed-text"></span>
        </p>
      </div>

      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group d-flex">
          <input class="form-control string required species" type="text" name="search[query]" id="search_query" placeholder="Pick species" />
          <input class="form-control string required start-date" type="text" name="search[query]" id="search_query" placeholder="Start date" />
          <input class="form-control string required end-date" type="text" name="search[query]" id="search_query" placeholder="End date" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="form-container">

  <div class="row">

    <div class="card-trip col-md-4 col-lg-3 m-3">
      <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
      <div class="card-trip-infos">
        <div>
          <h2><%= Pet.all.first.name.capitalize %></h2>
        </div>
        <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
      </div>
    </div>

    <div class="card-trip col-md-4 col-lg-3 m-3">
      <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
      <div class="card-trip-infos">
        <div>
          <h2><%= Pet.all.first.name.capitalize %></h2>
        </div>
        <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
      </div>
    </div>

    <div class="card-trip col-md-4 col-lg-3 m-3">
      <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
      <div class="card-trip-infos">
        <div>
          <h2><%= Pet.all.first.name.capitalize %></h2>
        </div>
        <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
      </div>
    </div>

  </div>

</div>


