

<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb </p>
  <div class="container">

    <div class="row">
      <div class="card-trip col-md-4 col-lg-3 m-3">
        <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <h2><%= Pet.all.first.name.capitalize %></h2>
          </div>
          <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
        </div>
      </div>
      <div class="card-trip col-md-4 col-lg-3 m-3">
        <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <h2><%= Pet.all.first.name.capitalize %></h2>
          </div>
          <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
        </div>
      </div>
      <div class="card-trip col-md-4 col-lg-3 m-3">
        <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <h2><%= Pet.all.first.name.capitalize %></h2>
          </div>
          <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-trip col-md-4 col-lg-3 m-3">
        <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <h2><%= Pet.all.first.name.capitalize %></h2>
          </div>
          <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
        </div>
      </div>
      <div class="card-trip col-md-4 col-lg-3 m-3">
        <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <h2><%= Pet.all.first.name.capitalize %></h2>
          </div>
          <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
        </div>
      </div>
      <div class="card-trip col-md-4 col-lg-3 m-3">
        <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <h2><%= Pet.all.first.name.capitalize %></h2>
          </div>
          <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-trip col-md-4 col-lg-3 m-3">
        <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <h2><%= Pet.all.first.name.capitalize %></h2>
          </div>
          <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
        </div>
      </div>
      <div class="card-trip col-md-4 col-lg-3 m-3">
        <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <h2><%= Pet.all.first.name.capitalize %></h2>
          </div>
          <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
        </div>
      </div>
      <div class="card-trip col-md-4 col-lg-3 m-3">
        <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <h2><%= Pet.all.first.name.capitalize %></h2>
          </div>
          <h2 class="card-trip-review"><%= link_to 'Détails' %></h2>
        </div>
      </div>
    </div>
  </div>
</div>



