<div class="dashboard-title text-center mt-4 mb-4">
  <h2> Welcome to your dashboard <strong><%= @user.first_name %></strong></h2>
</div>

<hr>

<% @my_rented_pets.each do |rent| %>
  <% if rent.status == "pending" %>
        <div class=container>
          <div class="alert-warning  p-3 m-3 text-center">
            <div class="d-flex justify-content-around align-items-center">
              <div class="texte-alerte">
              <i class="fas fa-exclamation-circle text-warning mr-3"></i>
                <strong><%= link_to "#{rent.user.first_name}", user_path(rent.user) %></strong> would like to rent <strong><%= rent.pet.name %></strong>
                from <%= rent.start_date.strftime("%m/%d/%Y") %> to <%= rent.end_date.strftime("%m/%d/%Y") %>
                <br>
              </div>

              <div class="boutons d-flex justify-content-end align-items-center">
                <%= link_to "Refuse", switch_bookings_deny_path(rent), class: "text-muted mr-5", method: :patch, remote: true, data: { confirm: "Are you sure to refuse this reservation ?" } %>
                <%= link_to "Accept", switch_bookings_accept_path(rent), class: "btn btn-success", method: :patch, remote: true, data: { confirm: "Thank you, we will inform #{rent.user.first_name} that you accept the reservation" } %>

              </div>
            </div>
          </div>
        </div>
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3 top">
      <div class="dashboard-pets">
        <h3>My pets</h3>
        <div class="row">
          <% @pets.each do |pet| %>
          <div class="card-product mt-3 mr-3">
            <% if pet.photos.attached? %>
              <%= cl_image_tag pet.photos.first.key %>
            <% else %>
              <%= image_tag "pet-1.png" %>
            <% end  %>
            <div class="card-product-infos">
              <h2><%= link_to pet.name.capitalize, pet_path(pet) %></h2>
              <p> <%= pet.price %> €</p>
              <div class="d-flex justify-content-between mt-3">
                <%= link_to pet_path(pet), method: :delete, data: {confirm: "Really dude ? You wanna delete this cute pet ? 😲"} do %>
                <!-- <i class="fas fa-trash-alt"></i> -->
                <% end %>
                <%= link_to switch_pets_status_path(pet), method: :patch, remote: true do %>
                <div class="custom-control custom-switch">
                  <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customSwitch1"
                  <% if pet.status %>
                  checked
                  <% end %>
                  >
                  <label class="custom-control-label" for="customSwitch1">
                    <% if pet.status %>
                    available
                    <% else %>
                    disable
                    <% end %>
                    </label>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-8">

      <div class="dashboard-bookings">

        <div class="container mt-3">
          <div class="dashboard-rented mb-3">
            <h3>My leasings</h3>
          </div>
        <div class="card-rented mt-3">
          <h5>Accepted leasings </h5>
            <% @my_rented_pets.each do |rent| %>
              <% if rent.status == "accept" %>
                <li>
                  <i class="fas fa-check-circle text-success"></i>
                  <strong><%= rent.pet.name %></strong> rented to <%= link_to "#{rent.user.first_name}", user_path(rent.user) %> -
                  <%= rent.start_date.strftime("%m/%d") %> to <%= rent.end_date.strftime("%m/%d/%Y") %>
                </li>
              <% end %>
            <% end %>

        <br>
          <h5>Denied leasings</h5>
            <% @my_rented_pets.each do |rent| %>
              <% if rent.status == "deny" %>
                <li>
                  <i class="fas fa-times-circle text-danger"></i>
                  <%= link_to "#{rent.user.first_name}", user_path(rent.user) %> wanted to rent <strong><%= rent.pet.name %></strong> -
                  <%= rent.start_date.strftime("%m/%d") %> to <%= rent.end_date.strftime("%m/%d/%Y") %>
                </li>
              <% end %>
            <% end %>
        </div>
          </div>
        <div class="container mt-4">
          <div class="dashboard-bookings">
            <h3>My rentals</h3>
          </div>

          <div class="card-bookings mt-3">
            <% @my_bookings.each do |booking| %>
            <li>
              <% if booking.status %>
              <i class="fas fa-check-circle"></i>
              <% end %>
              pet <strong><%= booking.pet.name %> </strong>
              - <%= booking.pet.user.first_name %>
              - <%= booking.start_date.strftime("%m/%d") %>
              to <%= booking.end_date.strftime("%m/%d/%Y") %>

            </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>














