<div class="dashboard-title text-center mt-3">
  <h2> Welcome on your dashboard <strong><%= @user.first_name %></strong></h2>
</div>



<% @my_rented_pets.each do |rent| %>
  <% if rent.status == "pending" %>
        <div class=container>
          <div class="alert-warning  p-3 m-3 text-center">
            <div class="d-flex justify-content-around align-items-center">
              <div class="texte-alerte">
              <i class="fas fa-exclamation-circle text-warning"></i>
                <strong><%= link_to "#{rent.user.first_name}", user_path(rent.user) %></strong> would like to rent <strong><%= rent.pet.name %></strong>
                from <%= rent.start_date.strftime("%m/%d/%Y") %> to <%= rent.end_date.strftime("%m/%d/%Y") %>
                <br>
              </div>
              <div class="boutons">
                <%= link_to "Accept", switch_bookings_accept_path(rent), class: "btn btn-success", method: :patch %>
                <br>
                <%= link_to "Refuse", switch_bookings_deny_path(rent), class: "text-muted", method: :patch %>
              </div>
            </div>
          </div>
        </div>
  <% end %>
<% end %>



<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="dashboard-pets">
        <h3>My pets</h3>
        <div class="row">
          <% @pets.each do |pet| %>
          <div class="card-product mt-3 mr-3">
            <% if pet.photos.attached? %>
              <%= cl_image_tag pet.photos.first.key %>
            <% else %>
              <%= cl_image_tag "pet-1.png" %>
            <% end  %>
            <div class="card-product-infos">
              <h2><%= link_to pet.name.capitalize, pet_path(pet) %></h2>
              <p> <%= pet.price %> €</p>
              <div class="d-flex justify-content-between mt-3">
                <%= link_to pet_path(pet), method: :delete, data: {confirm: "Really dude ? You wanna delete this cute pet ? 😲"} do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
                <%= link_to switch_pets_status_path(pet), method: :patch do %>
                <div class="custom-control custom-switch">
                  <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customSwitch1"
                  <% if pet.status %>
                  checked
                  <% end %>
                  >
                  <label class="custom-control-label" for="customSwitch1"></label>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <%= link_to "Add a pet", new_pet_path, class: "btn btn-flat mt-3 mb-3" %>
      </div>

    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-8">

      <div class="dashboard-bookings">

        <div class="container mt-3">
          <div class="dashboard-rented mb-3">
            <h3>My booking requests</h3>
          </div>
          <div class="card-rented mt-3">

      <h5>denied</h5>
        <% @my_rented_pets.each do |rent| %>
          <% if rent.status == "deny" %>
            <li>
              <i class="fas fa-times-circle text-danger"></i>
              Refuse <strong><%= rent.pet.name %></strong> to <%= link_to "#{rent.user.first_name}", user_path(rent.user) %> from
              <%= rent.start_date.strftime("%m/%d/%Y") %> to <%= rent.end_date.strftime("%m/%d/%Y") %>
            </li>

          <% end %>
        <% end %>
      <br>


      <h5>Accepted</h5>
        <% @my_rented_pets.each do |rent| %>
          <% if rent.status == "accept" %>
            <li>
              <i class="fas fa-check-circle text-success"></i>
              Rented <strong><%= rent.pet.name %></strong> to <%= link_to "#{rent.user.first_name}", user_path(rent.user) %> from
              <%= rent.start_date.strftime("%m/%d/%Y") %> to <%= rent.end_date.strftime("%m/%d/%Y") %>
            </li>
          <% end %>
        <% end %>
      </div>
        </div>

        <div class="container mt-4">
          <div class="dashboard-bookings">
            <h3>My own bookings</h3>
          </div>

          <div class="card-bookings mt-3">
            <% @my_bookings.each do |booking| %>
            <li>
              <% if booking.status %>
              <i class="fas fa-check-circle"></i>
              <% end %>
              <%= @user.first_name %> pet
              <%= booking.pet.name %> from <%= booking.start_date.strftime("%m/%d/%Y") %>
              to <%= booking.end_date.strftime("%m/%d/%Y") %>
              from <%= booking.pet.user.first_name %>
            </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>














