<div class="dashboard-title">
  <h1> Welcome on your dashboard <%= @user.first_name %></h1>
</div>

<div class="dashboard-pets">
  <h2>My pets</h2>
</div>

<div class="container">
  <div class="row">
    <%# @pets.each do |pet| %>
      <div class="card-product">
        <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        <div class="card-product-infos">
          <h2><%= "(petname)" %></h2>
          <p>Price</p>
        </div>
        <%# end %>
      </div>
  </div>
</div>

<% @pets.each do |pet| %>
<li>
  <%= link_to pet.name.capitalize, pet_path(pet) %>
  <%= link_to pet_path(pet), method: :delete do %>
        <i class="fas fa-minus"></i>
      <% end %>
    <%= link_to "dispo/indispo", switch_pets_status_path(pet), method: :patch %>
</li>
<%= pet.status %>
<% end %>

<h2>my rented pets</h2>

    <h5>bookings pending</h5>
      <% @my_rented_pets.each do |rent| %>
        <% if rent.status == false %>
          <li>
            <i class="fas fa-check-circle text-danger"></i>
            rent <%= rent.pet.name %> to <%= rent.user.first_name %> from
            <%= rent.start_date.strftime %> to <%= rent.end_date.strftime %>
            <%= link_to "accept/denied", switch_bookings_status_path(rent), method: :patch %>
            <%= rent.status %>
          </li>
        <% end %>
      <% end %>
    <h5>bookings acceptied</h5>
      <% @my_rented_pets.each do |rent| %>
        <% if rent.status %>
          <li>
            <i class="fas fa-check-circle text-success"></i>
            rent <%= rent.pet.name %> to <%= rent.user.first_name %> from
            <%= rent.start_date.strftime %> to <%= rent.end_date.strftime %>
            <%= link_to "accept/denied", switch_bookings_status_path(rent), method: :patch %>
            <%= rent.status %>
          </li>
        <% end %>
      <% end %>


<h2>my bookings</h2>
<% @my_bookings.each do |booking| %>
<li>
  <% if booking.status %>
    <i class="fas fa-check-circle"></i>
  <% end %>
  <%= @user.first_name %> pet
  <%= booking.pet.name %> from <%= booking.start_date.strftime("%m/%d/%Y") %>
   to <%= booking.end_date.strftime("%m/%d/%Y") %>
   from <%= booking.pet.user.first_name %>
  </li>
<% end %>
